h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}
h2 {
    border: 2px #eee solid;
    color: blue;
    text-align: center;
    padding: 10px;
}
h3 {
    border: 2px #eee solid;
    color: green;
    text-align: center;
    padding: 10px;
}
h4 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 150%
}
h5 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 150%
}
h6 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 150%
}


button {
display:inline;
}
div {
text-align: center;
}