

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto World</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cardsData.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'cards.css') }}"> 
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/web3/dist/web3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/tarp/require/require.min.js') }}"></script>

  </head>

 <body>

    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">

          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item" id="button_6">
              Discrete optimization of portfolio
            </a>
            <a class="navbar-item" id="button_7">
              Continuous optimization of portfolio

            </a>






            <a class="navbar-item"><span id="idyou_like"><div id="container" ></div></span></a>
            <a href="http://127.0.0.1:5000/tokeninfo" class="navbar-item">
              Token Info Page
            </a>
            <a class="navbar-item">
              Archives
            </a>
            <!--<a href="http://127.0.0.1:5000/transactions" class="navbar-item">
              transacctions
            </a> -->
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->

    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: ghostwhite;">Cryptocurrency Trading Page</h1><br>
          </div>
        </div>
        <div id="app" class="row columns is-multiline"> 
          <div v-for="card in cardData" key="card.id" class="column is-4" style="justify-content: center;" >
            <div class="card large">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img :src="card.image" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <!-- <figure class="image is-48x48">
                      <img :src="card.avatar" alt="Image">
                    </figure> -->
                  </div>
                  <div class="media-content">
                    <p class="title is-4 no-padding">[[card.user.title]]</p>
                    <p>
                      <span class="title is-6">
                          <!-- <a> [[card.user.handle]] </a> </span> </p> -->  <a><tab></a> </span> </p>
                   <!--  <p class="subtitle is-6"><tab></p> -->
                    <p class="subtitle is-6">[[card.content]]</p>
                    <p class="subtitle is-6"><div id="example-1"><input type="checkbox" :id=`${card.number}` name="cc" />
<label for="c1"><span></span>Choose me</label></div></p>
                  </div>
                </div>



              </div>
            </div>
          </div>








<div class="column is-4" style="justify-content: center;">
  <div class="card large">
     <div class="card-image">
        <figure class="image is-16by9">
            <img src="https://news.bitcoin.com/wp-content/uploads/2019/01/russia-ai-crypto.jpg" alt="Image">
        </figure>
     </div> 
    <div class="card-content">
      <div class="media">
   
         <div class="media-content">
		<p class="title is-4 no-padding">Transactions</p> 
		<p><span class="title is-6"><a href="http://twitter.com/cryptocurrency info">  </a></span></p> 
                <p><span class="title is-6"><a href="http://twitter.com/cryptocurrency info">  </a></span></p> 
		
                <p class="subtitle is-6">_____________</p>
                <p class="subtitle is-6" id="text_change">Transaction 1</p>
                <p class="subtitle is-6" id="text_change1">Transaction 2</p>
                <p class="subtitle is-6" id="text_change2">Transaction 3</p>
                <p class="subtitle is-6" id="text_change3">Token id</p>
            
         </div>
         <div class="content">
               <div class="background-icon">
                     <span class="icon-twitter"></span>
         </div>
      </div> 
    
</div>
</div>
</div>









        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          </div>
          <p>
            <strong>Build</strong> by bulma templates.
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
          </p>
        </div>
      </div>
    </footer>



    <!-- Using Vue to populate cards to reduce redundant code -->
    <script>
      var app = new Vue({
        el: '#app',
        delimiters : ['[[', ']]'],
        data: {
          cardData: cardsData
        }
      })

    </script>
</div>
<script>

koefficent=0;

let vektor_a=[]; //тут будут 4 актива


const btn1 = document.getElementById("1"); //проставлем чекбоксы и кнопки выбора алгоритма
const btn2 = document.getElementById("2");
const btn3 = document.getElementById("3");
const btn4 = document.getElementById("4");
const btn5 = document.getElementById("5");
const btn6 = document.getElementById("button_6");
const btn7 = document.getElementById("button_7");


p = document.getElementById('text_change');//trans 1
p1 = document.getElementById('text_change1');//trans 2
p2 = document.getElementById('text_change2');//trans 3
p4 = document.getElementById('text_change3');//id of token


var dataMasiv = [];


async function postData(url = '', data = {}, x, pressed_button) {
  // Default options are marked with *
  const response = await fetch(url, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'no-cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: 'follow', // manual, *follow, error
    referrerPolicy: 'no-referrer', // no-referrer, *client
    body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  let a = await response.json();
  dataMasiv = Object.values(a);
  

  if (pressed_button==1){      //обработка результата для выбраного алгоритма
  	createSelect(dataMasiv,x); //добавляем то что выдал 1 алгоритм  
  }
  else { //тут добавляем в токен, то что выдал 2 алгоритм
       dataMasiv = dataMasiv.map(function(each_element){
    		return Number(each_element.toFixed(2)); //округляем
       });
 
       let data_text = "asset composition with second algoritm - ";
       for (let j = 0; j < dataMasiv.length; j++) {

       		data_text = data_text+" "+ (dataMasiv[j]).toString();
      }
     console.log('x -',x);
     callContract(x,data_text);
  }
  
  return dataMasiv; // parses JSON response into native JavaScript objects
}


var textinmasiv = "";

function createSelect(dataMasiv,x){ //функция для выбора пакета с активами(тут мы отрисовываем выпадающую менюшку и отправляем в блокчейн актив который выбрал пользователь)
  let select = document.createElement('select');
  let option = document.createElement('option');
  option.value     = "        "; 
  option.innerText = "choose  asset  composition";  
select.appendChild(option);

  for (let i = 0; i <= (dataMasiv.length-1); i++) { 

    let option = document.createElement('option');
    textinmasiv = "asset "+(i+1).toString()+" - ";

    for (let j = 0; j <= 2; j++) {
       //console.log(j,'-',i);
       textinmasiv = textinmasiv+" "+ (dataMasiv[i][j]).toString();
      }
    option.value     = textinmasiv; //можно в value записать, то что передадим в блокчейн
    option.innerText = textinmasiv;    
    select.appendChild(option);
  }

/*function createSelect(dataMasiv,x){ //функция для выбора пакета с активами(тут мы отрисовываем выпадающую менюшку и отправляем в блокчейн актив который выбрал пользователь)
  let select = document.createElement('select');
  for (let i = 0; i <= (dataMasiv.length-1); i++) { 

    let option = document.createElement('option');
    textinmasiv = "asset "+(i+1).toString()+" - ";

    for (let j = 0; j <= 2; j++) {
       //console.log(j,'-',i);
       textinmasiv = textinmasiv+" "+ (dataMasiv[i][j]).toString();
      }
    option.value     = textinmasiv; //можно в value записать, то что передадим в блокчейн
    option.innerText = textinmasiv;    
    select.appendChild(option);
  }*/


  select.setAttribute("id", "id_you_like");
  document.getElementById('container').appendChild(select);
  

  document.getElementById('id_you_like').addEventListener('change', function() {  //тут мы выбираем себе актив в элементе select
    console.log(this);
    console.log('You selected: ', this.value);
    callContract(x,this.value);
  });
 

//тут добавляем listener для элемента, потом добавим функции отправки в блокчейн



}

var buton =document.getElementsByTagName("button");

btn1.onclick = function (evt) {
   if (vektor_a.length==0){
       alert('choose portfolio optimisation first');
       return;
   }
  
   if (vektor_a.length<5){
      /*if (this.style.backgroundColor != "green"){this.style.backgroundColor = "green"}*/
      vektor_a.push(3);
      koefficent=koefficent+3;

   }
   if (vektor_a.length==5){		//тут мы отправляем данные на сервак
      
	postData('http://127.0.0.1:5000/getjs', { vektor_a },koefficent, vektor_a[0])
  	 .then((data) => {

  	});
        vektor_a = [];
        koefficent=0;

        /*for(let j = 2; j < 7; j++) {
        	buton[j].style.backgroundColor = "white";//вместо this надо button
        }*/

   }

};

btn2.onclick = function (evt) {  
   if (vektor_a.length==0){
       alert('choose portfolio optimisation first');
       return;
   }
  if (vektor_a.length<5){
      /*if (this.style.backgroundColor != "green"){this.style.backgroundColor = "green"}*/
      vektor_a.push(2);
      koefficent=koefficent+2;
   }
   if (vektor_a.length==5){		
      
	postData('http://127.0.0.1:5000/getjs', { vektor_a }, koefficent,vektor_a[0])
  	 .then((data) => {

  	});
        koefficent=0;
       vektor_a = [];
       /*for(let j = 2; j < 7; j++) {
        	buton[j].style.backgroundColor = "white";//вместо this надо button
        }*/
   }


};


btn3.onclick = function(evt) { 
   if (vektor_a.length==0){
       alert('choose portfolio optimisation first');
       return;
   }
  if (vektor_a.length<5){
      /*if (this.style.backgroundColor != "green"){this.style.backgroundColor = "green"}*/
      vektor_a.push(4);
      koefficent=koefficent+4.2;
   }
   if (vektor_a.length==5){		
      
	postData('http://127.0.0.1:5000/getjs', { vektor_a }, koefficent,vektor_a[0])
  	 .then((data) => {

  	});
	koefficent=0;
       vektor_a = [];
        /*for(let j = 2; j < 7; j++) {
        	buton[j].style.backgroundColor = "white";//вместо this надо button
        }*/
   }
 
};


btn4.onclick = function(evt) { 
   if (vektor_a.length==0){
       alert('choose portfolio optimisation first');
       return;
   }
  if (vektor_a.length<5){
      //if (this.style.backgroundColor != "green"){this.style.backgroundColor = "green"}
      vektor_a.push(6);
      koefficent=koefficent+6;
   }
   if (vektor_a.length==5){		
      
	postData('http://127.0.0.1:5000/getjs', { vektor_a },koefficent, vektor_a[0])
  	 .then((data) => {

  	});
        koefficent=0;
       vektor_a = [];
        /*for(let j = 2; j < 7; j++) {
        	buton[j].style.backgroundColor = "white";//вместо this надо button
        }*/
   }
 
};

btn5.onclick = function(evt) { 
   if (vektor_a.length==0){
       alert('choose portfolio optimisation first');
       return;
   }
  if (vektor_a.length<5){
      //if (this.style.backgroundColor != "green"){this.style.backgroundColor = "green"}
      vektor_a.push(5);
      koefficent=koefficent+2.5;
   }
   if (vektor_a.length==5){		
      
	postData('http://127.0.0.1:5000/getjs', { vektor_a },koefficent,vektor_a[0])
  	 .then((data) => {

  	});
        koefficent=0;
       vektor_a = [];

        /*for(let j = 2; j < 7; j++) {
        	buton[j].style.backgroundColor = "white";//вместо this надо button
        }*/
   }
 
};
btn6.onclick = function(evt) {
vektor_a.push(1);

this.classList.add("active");

};
 
btn7.onclick = function(evt) {
vektor_a.push(2);
this.classList.add("active");
}












async function callContract(x,added_data) { //функция для вызова erc1155

    if (window.ethereum) {
        window.web3 = new Web3(ethereum);
        try {
            await ethereum.enable();
            var accounts= await web3.eth.getAccounts();
            var option={from: accounts[0] };
            var eth1155contract =  new web3.eth.Contract([
		{
			"inputs": [],
			"stateMutability": "nonpayable",
			"type": "constructor"
		},
		{
			"anonymous": false,
			"inputs": [
				{
					"indexed": true,
					"internalType": "address",
					"name": "account",
					"type": "address"
				},
				{
					"indexed": true,
					"internalType": "address",
					"name": "operator",
					"type": "address"
				},
				{
					"indexed": false,
					"internalType": "bool",
					"name": "approved",
					"type": "bool"
				}
			],
			"name": "ApprovalForAll",
			"type": "event"
		},
		{
			"anonymous": false,
			"inputs": [
				{
					"indexed": true,
					"internalType": "address",
					"name": "operator",
					"type": "address"
				},
				{
					"indexed": true,
					"internalType": "address",
					"name": "from",
					"type": "address"
				},
				{
					"indexed": true,
					"internalType": "address",
					"name": "to",
					"type": "address"
				},
				{
					"indexed": false,
					"internalType": "uint256[]",
					"name": "ids",
					"type": "uint256[]"
				},
				{
					"indexed": false,
					"internalType": "uint256[]",
					"name": "values",
					"type": "uint256[]"
				}
			],
			"name": "TransferBatch",
			"type": "event"
		},
		{
			"anonymous": false,
			"inputs": [
				{
					"indexed": true,
					"internalType": "address",
					"name": "operator",
					"type": "address"
				},
				{
					"indexed": true,
					"internalType": "address",
					"name": "from",
					"type": "address"
				},
				{
					"indexed": true,
					"internalType": "address",
					"name": "to",
					"type": "address"
				},
				{
					"indexed": false,
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				},
				{
					"indexed": false,
					"internalType": "uint256",
					"name": "value",
					"type": "uint256"
				}
			],
			"name": "TransferSingle",
			"type": "event"
		},
		{
			"anonymous": false,
			"inputs": [
				{
					"indexed": false,
					"internalType": "string",
					"name": "value",
					"type": "string"
				},
				{
					"indexed": true,
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				}
			],
			"name": "URI",
			"type": "event"
		},
		{
			"inputs": [],
			"name": "COUNTER",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "_baseduri",
			"outputs": [
				{
					"internalType": "string",
					"name": "",
					"type": "string"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "account",
					"type": "address"
				},
				{
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				}
			],
			"name": "balanceOf",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address[]",
					"name": "accounts",
					"type": "address[]"
				},
				{
					"internalType": "uint256[]",
					"name": "ids",
					"type": "uint256[]"
				}
			],
			"name": "balanceOfBatch",
			"outputs": [
				{
					"internalType": "uint256[]",
					"name": "",
					"type": "uint256[]"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "bytes",
					"name": "token_data",
					"type": "bytes"
				},
				{
					"internalType": "string",
					"name": "inside_data",
					"type": "string"
				}
			],
			"name": "create_erc1155_token",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "account",
					"type": "address"
				},
				{
					"internalType": "address",
					"name": "operator",
					"type": "address"
				}
			],
			"name": "isApprovedForAll",
			"outputs": [
				{
					"internalType": "bool",
					"name": "",
					"type": "bool"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "my_contract_number_erc20",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [],
			"name": "my_contract_token721_id",
			"outputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "from",
					"type": "address"
				},
				{
					"internalType": "address",
					"name": "to",
					"type": "address"
				},
				{
					"internalType": "uint256[]",
					"name": "ids",
					"type": "uint256[]"
				},
				{
					"internalType": "uint256[]",
					"name": "amounts",
					"type": "uint256[]"
				},
				{
					"internalType": "bytes",
					"name": "data",
					"type": "bytes"
				}
			],
			"name": "safeBatchTransferFrom",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "from",
					"type": "address"
				},
				{
					"internalType": "address",
					"name": "to",
					"type": "address"
				},
				{
					"internalType": "uint256",
					"name": "id",
					"type": "uint256"
				},
				{
					"internalType": "uint256",
					"name": "amount",
					"type": "uint256"
				},
				{
					"internalType": "bytes",
					"name": "data",
					"type": "bytes"
				}
			],
			"name": "safeTransferFrom",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "address",
					"name": "operator",
					"type": "address"
				},
				{
					"internalType": "bool",
					"name": "approved",
					"type": "bool"
				}
			],
			"name": "setApprovalForAll",
			"outputs": [],
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "bytes4",
					"name": "interfaceId",
					"type": "bytes4"
				}
			],
			"name": "supportsInterface",
			"outputs": [
				{
					"internalType": "bool",
					"name": "",
					"type": "bool"
				}
			],
			"stateMutability": "view",
			"type": "function"
		},
		{
			"inputs": [
				{
					"internalType": "uint256",
					"name": "",
					"type": "uint256"
				}
			],
			"name": "uri",
			"outputs": [
				{
					"internalType": "string",
					"name": "",
					"type": "string"
				}
			],
			"stateMutability": "view",
			"type": "function"
		}
	], '0x39e24256ad86ce068e4c047bbcbe5538a4dadb59');

var tokenFactory =  new web3.eth.Contract([
		{
			"inputs": [
				{
					"internalType": "contract IERC20",
					"name": "token1",
					"type": "address"
				}
			],
			"payable": false,
			"stateMutability": "nonpayable",
			"type": "constructor"
		},
		{
			"constant": false,
			"inputs": [
				{
					"internalType": "string",
					"name": "name",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "symbol",
					"type": "string"
				},
				{
					"internalType": "string",
					"name": "baseUrl",
					"type": "string"
				}
			],
			"name": "deploy721Contract",
			"outputs": [
				{
					"internalType": "contract myERC721",
					"name": "cardAddress",
					"type": "address"
				}
			],
			"payable": false,
			"stateMutability": "nonpayable",
			"type": "function"
		},
		{
			"constant": false,
			"inputs": [],
			"name": "transferErc20",
			"outputs": [],
			"payable": true,
			"stateMutability": "payable",
			"type": "function"
		}
	], '0x9406ed4b357b40cca2ea301bcd8a391d075be72c'); 
aa= x.toString();
console.log(aa);

  ethereum
    .request({
      method: 'eth_sendTransaction',
      params: [
        {
          from: accounts[0],
          to: '0x2b7a6c8f1a77a602a6b356dc3fdfd11a1c56c1b6',
          value: '0x29a2241af62c0000',
          gasPrice: '0x09184e72a000', 
          gas: aa,
        },
      ],
    })
.then((txHash) => p.innerHTML = 'transaction 1(send ether) ' + txHash)



	   tokenFactory.methods.deploy721Contract(aa,aa,added_data).send(option,function(error,result){
                if (! error)
                    p1.innerHTML = 'transaction2 (mint erc721 and send to user) ' + result;
                else
                    console.log(error);  
            });
             console.log('222222');

            eth1155contract.methods.create_erc1155_token(2,added_data).send(option,function(error,result){ //тут было начало
                if (! error)
                    p2.innerHTML = 'transaction3 (mint erc1155) ' + result;
                else
                    console.log(error);  
            });
            console.log('333333');


function sleep(ms) {
  return new Promise(resolve => {
    setTimeout(resolve, ms);
  });
}


     await sleep(60000);
	eth1155contract.methods.COUNTER.call().call(option,function(error,result){ 
	        if (! error)
			p4.innerHTML ="id of erc1155 -- "+result;
		else
			console.log(error);
		 });


        } catch (error) {

        }
    }

    else if (window.web3) {
        window.web3 = new Web3(web3.currentProvider);

        
    }

    else {
        console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
    }
};










    </script>

  </body>

</html>